<html>
    <h1>Nuevo usuario</h1>
    <form method="POST">
        <table>
            <tr>
                <td><b>Nombre:</b></td>
                <td><input name="nombre"></td>
            </tr>
            <tr>
                <td><b>Apellidos:</b></td>
                <td><input name="apellidos"></td>
            </tr>
            <tr>
                <td><b>Contraseña:</b></td>
                <td><input name="clave"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Enviar">
                </td>
            </tr>
        </table>
    </form>
</html>